.input_area {
	max-width: 500px;
}

input[type=text]
,input[type=email]
,input[type=password] {
	max-width: 500px;
	width: calc(100% - 10px);
	font-size: 150%;
}

textarea {
	max-width: 500px;
	width: calc(100% - 10px);
	font-size: 150%;
	height: 300px;
}

input[type=radio]+label:before {
	content: "";
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
}

.confirm_text {
	font-size: 150%;
	margin-block-start: 0.1em;
    margin-block-end: 1em;	
}

.button_area {
	margin-top: 20px;
}