.input_area {
	max-width: 500px;
}

input[type=text]
,input[type=email]
,input[type=password] {
	max-width: 500px;
	width: calc(100% - 10px);
	font-size: 150%;
}

input[type=radio]+label:before {
	content: "";
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
}

input[type=radio][value="1"]+label:before {
	background-image: url(/img/icons/icon_01.png);
}
input[type=radio][value="2"]+label:before {
	background-image: url(/img/icons/icon_02.png);
}
input[type=radio][value="3"]+label:before {
	background-image: url(/img/icons/icon_03.png);
}
input[type=radio][value="4"]+label:before {
	background-image: url(/img/icons/icon_04.png);
}
input[type=radio][value="5"]+label:before {
	background-image: url(/img/icons/icon_05.png);
}
input[type=radio][value="6"]+label:before {
	background-image: url(/img/icons/icon_06.png);
}
input[type=radio][value="7"]+label:before {
	background-image: url(/img/icons/icon_07.png);
}
input[type=radio][value="8"]+label:before {
	background-image: url(/img/icons/icon_08.png);
}
input[type=radio][value="9"]+label:before {
	background-image: url(/img/icons/icon_09.png);
}
input[type=radio][value="10"]+label:before {
	background-image: url(/img/icons/icon_10.png);
}
input[type=radio][value="11"]+label:before {
	background-image: url(/img/icons/icon_11.png);
}
input[type=radio][value="12"]+label:before {
	background-image: url(/img/icons/icon_12.png);
}
input[type=radio][value="13"]+label:before {
	background-image: url(/img/icons/icon_13.png);
}
input[type=radio][value="14"]+label:before {
	background-image: url(/img/icons/icon_14.png);
}
input[type=radio][value="15"]+label:before {
	background-image: url(/img/icons/icon_15.png);
}
input[type=radio][value="16"]+label:before {
	background-image: url(/img/icons/icon_16.png);
}


input[type=radio]:checked+label::before {
	border: 3px solid darkcyan;
	box-sizing: border-box;
}

input[type=radio] {
	display: none;
}

.confirm_text {
	font-size: 150%;
	margin-block-start: 0.1em;
    margin-block-end: 1em;	
}

.icon {
	width: 100px; 
}